<?xml version="1.0" encoding="utf-8"?>

<launch>
  <!--include file="$(find turtlebot3_bringup)/launch/turtlebot3_lidar.launch"></include-->
  <node name="lidarDetect" pkg="darknet_ros" type="lidar_Node" clear_params="true" />
  <!--<node name="republish" type="republish" pkg="image_transport" output="screen" 	args="compressed in:=/front_camera/image_raw raw out:=/camera/image_raw" /> -->
</launch>
